@import url("https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic");
@import url("https://fonts.googleapis.com/css?family=Cabin:700");
@import url("https://fonts.googleapis.com/css?family=Antic");

$styling-color: #000000d9;

.wrapper {
    background-image: url("./Assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.atbash-navbar-brand {
    font-family: Antic, sans-serif !important;
    color: rgb(84, 80, 44) !important;
    font-weight: bold !important;
    font-style: normal !important;
}
@import "./bootstrap.css";

#mainNav a {
    font-family: Antic, sans-serif;
    color: rgb(84, 80, 44);
    font-weight: bold;
    border-bottom: 1px solid transparent;
}

#mainNav a:hover {
    font-family: Antic, sans-serif;
    color: rgb(97, 90, 29);
    font-weight: bold;
    border-bottom: 1px solid rgb(84, 80, 44);
}

@media (min-width: 992px) {
    #mainNav {
        background-color: #000000d9;
    }
}

.form-label {
    font-family: Antic, sans-serif;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid rgb(84, 80, 44);
}

body {
    font-family: Antic, sans-serif;
}

h1,
h2,
h3 {
    font-family: Antic, sans-serif;
    font-weight: bold;
    text-align: center;
    border-left: 1px solid #d6b577;
    border-right: 1px solid #d6b577;
}

h3 {
    margin-bottom: 25px;
}

.card {
    background-color: $styling-color;
}

.table {
    background-color: $styling-color;
}

.form-control {
    background-color: #262421;
    border-radius: 0%;
    color: white;
}

.form-control:focus {
    background-color: #3b362d;
    border-color: rgb(84, 80, 44);
    color: rgb(221, 216, 216);
    box-shadow: 0 0 0 0.2rem rgba(1, 1, 2, 0.25);
}

.btn-warning {
    background-color: #d3a416;
    border-bottom: 2px solid rgb(84, 80, 44);
}

.btn-warning:hover {
    background-color: #ad8714;
    border-bottom: 2px solid rgb(63, 60, 33);
}

.btn-warning:focus {
    background-color: #947413;
    border-top: 2px solid #d3a416;
}


.btn-warning:active {
    background-color: #947413;
    border-top: 2px solid #d3a416;
}